.home-container{
    padding: 20px;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 auto;

}
.home-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background: #4d556a;
    margin: 3rem 0px 20px 0px;
    padding: 5px;
    font-family: cursive;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 8px;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #4d556a;
    width: 100%;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    gap: 10px;
}

.home-tabs{
    display: flex;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}

.tab{
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 18px;
    padding: 6px;
}

.active-tab{
    background-color: rgba(97, 222, 180, 0.827);
    border-radius: 50px;
}