.signupForm{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.signupName{
    display: flex;
    flex-direction: column;
}

.signupName>span{
    margin: 5px 0;
    font-weight: 600;
}

.signupName>input[type=text] {
    background-color: #c7f4ff;
    color: black;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    height: 45px;
    border-radius: 5px;
    padding: 0 10px;
}
.signupEmail{
    display: flex;
    flex-direction: column;
}

.signupEmail>span{
    margin: 5px 0;
    font-weight: 600;
}

.signupEmail>input[type=email] {
    background-color: #c7f4ff;
    color: black;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    height: 45px;
    border-radius: 5px;
    padding: 0 10px;
}

.signupPassword{
    display: flex;
    flex-direction: column;
    position: relative;
}

.signupPassword>span{
    margin: 5px 0;
    font-weight: 600;
}

.signupPassword>input[type=password] {
    background-color: #c7f4ff;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    height: 45px;
    border-radius: 5px;
    padding: 0 10px;
}

.signupPassword>input[type=text] {
    background-color: #c7f4ff;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    height: 45px;
    border-radius: 5px;
    padding: 0 10px;
}

input[type=email]:focus {
  border:3px solid rgb(129, 212, 239);
}

input[type=password]:focus {
  border:3px solid rgb(129, 212, 239);
}

input[type=text]:focus {
  border:3px solid rgb(129, 212, 239);
}

.pass-toggle{
    position: absolute;
    background: white;
    color: black;
    padding: 2px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
    width:45px;
    margin:0 auto;
    text-align: center;
    right: 7px;
    bottom: 9px;
    cursor: pointer;
}

.signupAvatar{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.signupAvatar>span{
    margin: 5px 0;
    font-weight: 600;
}

.signupAvatar>input[type=file] {
    background-color: #c7f4ff;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    height: 45px;
    border-radius: 5px;
    padding: 10px 10px;
}

.signupAvatar>input[type=file]::file-selector-button{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #6cd9f5;
}

.signupAvatar>input[type=file]::file-selector-button:hover{
    background-color: #3ed2f7;
    cursor: pointer;
}

.signupBtn{
    background-color: rgb(80, 182, 246);
    padding: 8px;
    border-radius:5px;
    height: 48px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.signupBtn:hover{
    background-color: rgb(45, 171, 249);
}